.App {
  text-align: center;

}
body {
  background-color:#f2e1bd;}

  .card {
    margin:50px auto;
  width: 350px;
  padding: 10px;
  border: 2px solid #b3a696;
  border-radius: 3px;
  transition: box-shadow .3s ease-in-out;
  background-color: #edc97b;
  text-align: left;
  }


